body {
  background-color: black;
}
img {
  border-radius: 11px;
  width: 125px;
  padding: 4px;
  max-width: 100%
  height:auto;
}
.whole {
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
  background-color: grey;
}
.heading {
 color: red;
 display: flex;
}
.intro{
  float: left;
 color: purple;
 display: flex;
}
#intro{
  float: left;
  padding-left: 50%;
}
#img {
  width: 50%
}
.abbr {
  color: blue;
  font-size: 15px;
  font-family: monospace;
}
.glow {
