.whole {
  background-color: grey;
  background-position: center;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  font-size: 17px;
}
body {
  background-color: black;
}
h1 {
  text-align: center;
  color: maroon;
  font-weight: bold;
  font-family: cursive;
  font-variant: small-caps;
  font-feature-settings: normal;
  font-size-adjust: auto;
  font-size: 50px;
}
img {
  max-width: 50%;
  height: auto:
}
.img {
  float: left;
  padding-left: 10px;
}
.intro {
  padding-left: 55%;
  padding-right: 5%;
}
.important {
  color: purple;
  font-weight: bold;
}
